<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlbrc.movingcompany.mapper.IAppointmentMapper">
  <resultMap id="BaseResultMap" type="com.hlbrc.movingcompany.entity.Appointment">
    <id column="appointmentId" jdbcType="INTEGER" property="appointmentid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="startSite" jdbcType="VARCHAR" property="startsite" />
    <result column="endSite" jdbcType="VARCHAR" property="endsite" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="movingTime" jdbcType="TIMESTAMP" property="movingtime" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    appointmentId, userId, startSite, endSite, name, tel, movingTime, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from appointment
    where appointmentId = #{appointmentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from appointment
    where appointmentId = #{appointmentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hlbrc.movingcompany.entity.Appointment">
    insert into appointment (appointmentId, userId, startSite, 
      endSite, name, tel, 
      movingTime, createTime)
    values (#{appointmentid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{startsite,jdbcType=VARCHAR}, 
      #{endsite,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{movingtime,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hlbrc.movingcompany.entity.Appointment">
    insert into appointment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="appointmentid != null">
        appointmentId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="startsite != null">
        startSite,
      </if>
      <if test="endsite != null">
        endSite,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="movingtime != null">
        movingTime,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="appointmentid != null">
        #{appointmentid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="startsite != null">
        #{startsite,jdbcType=VARCHAR},
      </if>
      <if test="endsite != null">
        #{endsite,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="movingtime != null">
        #{movingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlbrc.movingcompany.entity.Appointment">
    update appointment
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="startsite != null">
        startSite = #{startsite,jdbcType=VARCHAR},
      </if>
      <if test="endsite != null">
        endSite = #{endsite,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="movingtime != null">
        movingTime = #{movingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where appointmentId = #{appointmentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlbrc.movingcompany.entity.Appointment">
    update appointment
    set userId = #{userid,jdbcType=INTEGER},
      startSite = #{startsite,jdbcType=VARCHAR},
      endSite = #{endsite,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      movingTime = #{movingtime,jdbcType=TIMESTAMP},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where appointmentId = #{appointmentid,jdbcType=INTEGER}
  </update>
</mapper>