<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlbrc.movingcompany.mapper.IServicedescribeMapper">
  <resultMap id="BaseResultMap" type="com.hlbrc.movingcompany.entity.Servicedescribe">
    <id column="serviceDescribeId" jdbcType="INTEGER" property="servicedescribeid" />
    <result column="CompanyMessageId" jdbcType="INTEGER" property="companymessageid" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="contextNum" jdbcType="VARCHAR" property="contextnum" />
    <result column="specialAnn" jdbcType="VARCHAR" property="specialann" />
  </resultMap>
  <sql id="Base_Column_List">
    serviceDescribeId, CompanyMessageId, subtitle, contextNum, specialAnn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from servicedescribe
    where serviceDescribeId = #{servicedescribeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from servicedescribe
    where serviceDescribeId = #{servicedescribeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hlbrc.movingcompany.entity.Servicedescribe">
    insert into servicedescribe (serviceDescribeId, CompanyMessageId, 
      subtitle, contextNum, specialAnn
      )
    values (#{servicedescribeid,jdbcType=INTEGER}, #{companymessageid,jdbcType=INTEGER}, 
      #{subtitle,jdbcType=VARCHAR}, #{contextnum,jdbcType=VARCHAR}, #{specialann,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hlbrc.movingcompany.entity.Servicedescribe">
    insert into servicedescribe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="servicedescribeid != null">
        serviceDescribeId,
      </if>
      <if test="companymessageid != null">
        CompanyMessageId,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="contextnum != null">
        contextNum,
      </if>
      <if test="specialann != null">
        specialAnn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="servicedescribeid != null">
        #{servicedescribeid,jdbcType=INTEGER},
      </if>
      <if test="companymessageid != null">
        #{companymessageid,jdbcType=INTEGER},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="contextnum != null">
        #{contextnum,jdbcType=VARCHAR},
      </if>
      <if test="specialann != null">
        #{specialann,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlbrc.movingcompany.entity.Servicedescribe">
    update servicedescribe
    <set>
      <if test="companymessageid != null">
        CompanyMessageId = #{companymessageid,jdbcType=INTEGER},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="contextnum != null">
        contextNum = #{contextnum,jdbcType=VARCHAR},
      </if>
      <if test="specialann != null">
        specialAnn = #{specialann,jdbcType=VARCHAR},
      </if>
    </set>
    where serviceDescribeId = #{servicedescribeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlbrc.movingcompany.entity.Servicedescribe">
    update servicedescribe
    set CompanyMessageId = #{companymessageid,jdbcType=INTEGER},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      contextNum = #{contextnum,jdbcType=VARCHAR},
      specialAnn = #{specialann,jdbcType=VARCHAR}
    where serviceDescribeId = #{servicedescribeid,jdbcType=INTEGER}
  </update>
</mapper>