<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlbrc.movingcompany.mapper.INoticeMapper">
  <resultMap id="BaseResultMap" type="com.hlbrc.movingcompany.entity.Notice">
    <id column="noticeId" jdbcType="INTEGER" property="noticeid" />
    <result column="managerId" jdbcType="INTEGER" property="managerid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="contextNum" jdbcType="VARCHAR" property="contextnum" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    noticeId, managerId, name, contextNum, createTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notice
    where noticeId = #{noticeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from notice
    where noticeId = #{noticeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hlbrc.movingcompany.entity.Notice">
    insert into notice (noticeId, managerId, name, 
      contextNum, createTime)
    values (#{noticeid,jdbcType=INTEGER}, #{managerid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{contextnum,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hlbrc.movingcompany.entity.Notice">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noticeid != null">
        noticeId,
      </if>
      <if test="managerid != null">
        managerId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="contextnum != null">
        contextNum,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noticeid != null">
        #{noticeid,jdbcType=INTEGER},
      </if>
      <if test="managerid != null">
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="contextnum != null">
        #{contextnum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hlbrc.movingcompany.entity.Notice">
    update notice
    <set>
      <if test="managerid != null">
        managerId = #{managerid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="contextnum != null">
        contextNum = #{contextnum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where noticeId = #{noticeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hlbrc.movingcompany.entity.Notice">
    update notice
    set managerId = #{managerid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      contextNum = #{contextnum,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where noticeId = #{noticeid,jdbcType=INTEGER}
  </update>
</mapper>